
<h1>Mon calendrier</h1>

<div class="grid m-3">
    <div class="col-12">
        <full-calendar [options]="calendarOptions" [events]="event"></full-calendar>
    </div>
</div>

    <!-- <p-dialog [(visible)]="popupVisible" [style]="{ width: '50vw' }" [maximizable]="true" (onHide)="popupVisible = false">
    <app-pop-up-event [date]="selectedDate"></app-pop-up-event>
</p-dialog> -->

<p-dialog [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true" [(visible)]="popupVisible" header="Event Form" modal="true" (onHide)="onClose()" >
    @if(event) {
      <app-pop-up-event [event]="event" (onSave)="onSave($event)"></app-pop-up-event>
    }
  </p-dialog>
  <p-toast></p-toast>
  <p-confirm-dialog></p-confirm-dialog>