<!-- pour icone -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<!-- nav -->
<!-- nav -->
<nav class="top-nav">
    <div class="nav-container">
      <ul class="nav-links left-links">
        <li><a href="#"><i class="fas fa-home"></i> Accueil</a></li>
        <!-- <li><a href="#"><i class="fas fa-calendar-alt"></i> L'agenda des cours</a></li> -->
        <li><a href="#"><i class="fas fa-spa"></i> Mon blog</a></li>
        <li><a href="#"><i class="fas fa-envelope"></i> Me contacter</a></li>
      </ul>
      <ul class="nav-links right-links">
        <li><a href="#"><i class="fas fa-user"id="connexion"></i> Connexion</a></li>
      </ul>
    </div>
  </nav>
  <!-- fin nav -->

<main class="main-content">
    <h1 class="title">Agenda</h1>
    <p>Vous trouverez ici l'agenda tant pour les <span class="bold-text">cours collectifs</span> que les <span class="bold-text">cours individuels</span> et les <span class="bold-text">évènements spéciaux</span></p>
    <p><span class="bold-text"> Cliquez sur un cours ou sur un évènement pour vous y inscrire  </span><i class="fas fa-smile"></i></p>
  

    <div class="grid m-3">
        <div class="col-12">
            <full-calendar [options]="calendarOptions" [events]="events"></full-calendar>
        </div>
    </div>

    <p-dialog [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true" [(visible)]="popupVisible" header="Réserver" modal="true" (onHide)="onClose()" >
    @if(event) {
        <!-- <app-popupbooking [event]="event"></app-popupbooking> -->
        <app-popupbooking [event]="event" (close)="onClose()"></app-popupbooking>
    }
    </p-dialog>
    <p-toast></p-toast>
    <p-confirm-dialog></p-confirm-dialog>
</main>


    