<h1>Evènement à la date du {{event().startDate|date: 'dd/MM/yyyy'}}</h1>
<div class="flex justify-content-end mb-3">
  <p-button icon="pi pi-trash" (onClick)="delete()" severity="danger"></p-button>
</div>
<form [formGroup]="form" (ngSubmit)="save()">
  <div class="pb-3">
    <p-float-label variant="on">
      <input class="w-full" pInputText formControlName="title" />
      <label>Title</label>
    </p-float-label>
  </div>
  <div class="pb-3">
    <p-float-label variant="on">
      <textarea class="w-full" pInputText formControlName="description"></textarea>
      <label>Description</label>
    </p-float-label>
  </div>
  <div class="pb-3">
    <p-float-label variant="on">
      <p-date-picker inputStyleClass="w-full" appendTo="body" dateFormat="dd/mm/yy" formControlName="startDate" [showTime]="true"></p-date-picker>
      <label>Heure du début :</label>
    </p-float-label>
  </div>
  <div class="pb-3">
    <p-float-label variant="on">
      <p-date-picker inputStyleClass="w-full" appendTo="body" dateFormat="dd/mm/yy" formControlName="endDate" [showTime]="true"></p-date-picker>
      <label>Heure de fin</label>
    </p-float-label>
  </div>
  <div class="pb-3">
    <p-float-label variant="on">
      <p-select appendTo="body" styleClass="w-full" [options]="['GroupSession', 'IndividualSession', 'SpecialEvent', 'Autre']" formControlName="type"></p-select>
      <label>Type</label>
    </p-float-label>
  </div>

  <!-- Choix entre lieu existant ou nouveau -->
  <fieldset>
    <legend>Lieu :</legend>

    <label for="">Lieu déjà enregistré :</label>
    <p-select  appendTo="body" styleClass="w-full" formControlName="id_PlaceEventYoga" [options]="locations" optionLabel="name" optionValue="id"></p-select>
    <!-- Id_PlaceEventYoga -->

    <!-- <label for="">Nouveau lieu (si non existant) :</label><br>
    <input type="" id="" name=""> -->
  </fieldset>
  <br>

  <div class="pb-3 flex justify-content-end">
    <p-button type="submit" label="Save" icon="pi pi-send" iconPos="right"></p-button>
  </div>
</form>

    <!-- <label for="title">Titre :</label>
    <input type="text" id="title" name="Title" required>
    <br><br> -->


 
  