<div class="flex justify-content-end mb-3">
  <!-- inscrits :  -->
<!-- <div *ngIf="reservations.length > 0">
  <h4>Personnes inscrites :</h4>
  <ul>
    <li *ngFor="let r of reservations">
      {{ r.email }}
    </li>
  </ul>
</div> -->
<!--  -->
  <p-button icon="pi pi-trash" (onClick)="delete()" severity="danger"></p-button>
</div>
<form [formGroup]="form" (ngSubmit)="save()">
  <div class="pb-3">
    <p-float-label variant="on">
      <input class="w-full" pInputText formControlName="title" />
      <label>Title</label>
    </p-float-label>
  </div>
  <div class="pb-3">
    <p-float-label variant="on">
      <textarea class="w-full" pInputText formControlName="description"></textarea>
      <label>Description</label>
    </p-float-label>
  </div>
  <div class="pb-3">
    <p-float-label variant="on">
      <p-date-picker inputStyleClass="w-full" appendTo="body" dateFormat="dd/mm/yy" formControlName="startDate" [showTime]="true"></p-date-picker>
      <label>Heure du début :</label>
    </p-float-label>
  </div>
  <div class="pb-3">
    <p-float-label variant="on">
      <p-date-picker inputStyleClass="w-full" appendTo="body" dateFormat="dd/mm/yy" formControlName="endDate" [showTime]="true"></p-date-picker>
      <label>Heure de fin</label>
    </p-float-label>
  </div>
  <div class="pb-3">
    <p-float-label variant="on">
      <p-select appendTo="body" styleClass="w-full" [options]="typeOptions" formControlName="type"></p-select>
      <label>Type</label>
    </p-float-label>
  </div>

  <!-- Choix entre lieu existant ou nouveau -->
  <fieldset>
    <legend>Lieu - Choisissez un lieu enregistré ou enregistrez un nouveau lieu</legend>
    <div class="placesSaved">
      <label for=""><i class="pi pi-list"></i> Lieux déjà enregistrés :</label>
      <p-select [showClear]="true" appendTo="body" styleClass="w-full" formControlName="id_PlaceEventYoga" [options]="locations" optionLabel="name" optionValue="id"></p-select>
    </div>
    <!-- <label for="">Nouveau lieu (si non existant) :</label><br>
    <input type="" id="" name=""> -->
  
  <!-- nouveau lieu -->
  <div class="newPlace" formGroupName="newPlaceEventYoga">
   @if (!form.get("id_PlaceEventYoga")?.value){
      <p><i class="pi pi-save"></i> Enregistrez un lieu</p>
      <p-float-label variant="on">
        <input class="w-full" pInputText formControlName="name" />
        <label>Nom : </label>
      </p-float-label>
      <div formGroupName="address"> 
        <p-float-label variant="on">
          <input class="w-full" pInputText formControlName="street" />
          <label>rue : </label>
        </p-float-label>
        <p-float-label variant="on">
          <input class="w-full" pInputText formControlName="numberStreet" />
          <label>numéro : </label>
        </p-float-label>
        <p-float-label variant="on">
          <input class="w-full" pInputText formControlName="postalCode" />
          <label>Code postal : </label>
        </p-float-label>
        <p-float-label variant="on">
          <input class="w-full" pInputText formControlName="city" />
          <label>Ville: </label>
        </p-float-label>
        <p-float-label variant="on">
          <input class="w-full" pInputText formControlName="country" />
          <label>Pays: </label>
        </p-float-label>
      </div>
    }
    @else {
      <p-button (onClick)="clearLocation()">Ajouter un nouveau lieu</p-button>
    }

  </div>  
  </fieldset>  
  

  <br>

  <div class="pb-3 flex justify-content-end">
    <p-button type="submit" label="Enregistrer" icon="pi pi-check" iconPos="right"></p-button>
  </div>
</form>


    <!-- <label for="title">Titre :</label>
    <input type="text" id="title" name="Title" required>
    <br><br> -->

<!-- réceptions des inscrits  - ?TODO : composant?-->
 <!--  Version 1 -->
    <!-- <div class="inscrits-section" style="margin-bottom: 1rem;">
      <h4>👥 Personnes inscrites :</h4>
      <div *ngIf="reservations.length === 0">Aucune inscription pour le moment.</div>
      <ul *ngIf="reservations.length > 0" class="p-0" style="list-style-type: none;">
        <li *ngFor="let r of reservations" class="p-mb-2">
          <div style="padding: 0.5rem; border-bottom: 1px solid #ccc;">
            <strong>{{ r.email }}</strong><br />
            Réservé le : {{ r.dateReservation | date:'short' }}<br />
            <span [ngStyle]="{ color: r.payed ? 'green' : 'red' }">
              {{ r.payed ? '✅ Payé' : '❌ Non payé' }}
            </span>
          </div>
        </li>
      </ul>
    </div> -->

    <!-- Version  2 -->
    <p-card header="👥 Personnes inscrites :" *ngIf="reservations.length > 0" styleClass="mb-3">
      <div *ngFor="let r of reservations" class="p-mb-2" style="border-bottom: 1px solid #ccc; padding-bottom: 0.5rem; margin-bottom: 0.5rem;">
        <strong>{{ r.email }}</strong><br />
        Réservé le :  {{ r.dateReservation | date: 'dd/MM/yyyy HH:mm' }}<br />    
        <!-- <p-tag [severity]="r.payed ? 'success' : 'danger'" [value]="r.payed ? 'Payé' : 'Non payé'"></p-tag> -->
         <!-- TODO quand système paiement fait, gérer dynamiquement payé ou pas -->
        <p-tag 
          [value]="r.payed ? 'Payé' : 'Non payé'" 
          [styleClass]="r.payed ? 'tag-paid' : 'tag-unpaid'">
      </p-tag>
      </div>
    </p-card>
    <p *ngIf="reservations.length === 0">Aucune inscription pour le moment.</p>
    

    


 
  