/* You can add global styles to this file, and also import other style files */
:root {
     --fc-button-bg-color: rgb(144, 184, 139);
     --fc-button-active-bg-color: rgb(99, 126, 96);
     
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
